* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFFFF;
    padding: 15px 30px;
}

#logo {
    vertical-align: middle;
}

header > h1 {
    display: inline;
    font-weight: 800;
    vertical-align: middle;
}

main {
    width: 65%;
    margin: 30px auto;
}

.button-container {
    padding: 15px 50px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
}

.selected-button {
    background-color: #47ADF1;
    color: #FFFFFF;
}

.unselected-button {
    border: 1px solid #E0E4E6;
    color: #E0E4E6;
    background-color: #FFFFFF;
}

.list-container {
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #444851;
}

.list-container > section {
    padding: 40px 50px 0 50px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

section > ul > li {
    padding-top: 15px;
}

.check {
    color: #69C2AD;
    display: inline-block; 
    border: 1px solid #69C2AD;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    text-align: center;
}

.cross {
    color: #EF8783;
    display: inline-block; 
    border: 1px solid #EF8783;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    text-align: center;
}

